/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**********************************My style**********************************/
body {
  background-color: #f3f3f3;
}

header {
  background-color: #fff;
  width: 100%;
  height: 100px;
}

.header-brand {
  font-family: 'Permanent Marker', cursive;
  color: #111;
  font-weight: 900;
  font-size: 24px;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 20px 0;
}

a {
  font-family: 'Lexend Giga', sans-serif;
  color: #111;
  text-decoration: none;
}

li {
  display: inline-block;
  margin: auto 10px;
  list-style: none;
  font-size: 16px;
}

ul {
  margin: 0 auto;
  display: block;
  width: fit-content;
}

.Banner {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url("images/Marry.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 40px;
}

.Heading-name {
  padding: 100px 0;
  display: block;
  width: fit-content;
  font-size: 50px;
  font-family: 'Lobster', cursive;
  color: #fff;
  text-shadow: 2px 2px 8px black;
}

.subtitle {
  font-family: 'Comfortaa', cursive;
  color: #fff;
  padding: 50px 0;
  display: block;
  text-align: center;
  font-size: 30px;
	font-weight: normal;
	line-height: 2;
  text-shadow: 2px 2px 8px black;
}
.reg-txt{
	  font-family: 'Roboto', sans-serif;
	  color: #00bdaa;
	  padding: 10px 0;
	  display: block;
	  text-align: center;
	  font-size: 20px;
		font-weight: bold;
	  text-shadow: 2px 2px 10px black;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  width: 5%;
  border-width: 5px;
}
.list-heading{
  margin-top: 30px;
  text-align: center;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  color: #eb4559;
  margin-bottom: 30px;
}
.boi-data{
  font-family: 'Comfortaa', cursive;
  background-color:#fcf8e8;
  box-shadow: 2px 2px 8px #eae7d9;
  height: 110px;
  width:100%;
  position: relative;
  padding-top: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
}
.Pro-img{
  height: 100px;
  width: 100px;
  border-radius: 8px;
  float: left;
  margin-right: 20px;
}
.More{
  margin: 30px auto;
  text-align: center;
}
h3{
  font-weight: bold;
}
a:hover{
  color: #f6d186;
}

footer{
  text-align: center;
  background-color: #363636;
padding-top: 40px;
margin-top: 30px;
}
.last-p{
  color: white;
  padding-bottom: 30px;
}
/*********************btn*******************/
.btn {
  font-family: 'Lexend Giga', sans-serif;
  color: #FFFAFD !important;
  font-size: 14px;
  text-shadow: 2px 1px 0px #97BFDE;
  box-shadow: 1px 1px 1px #EFEFF9;
  padding: 13px 20px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #63B8EE;
  background: linear-gradient(top,  #11CDD4,  #11999E);
  background: -ms-linear-gradient(top,  #11CDD4,  #11999E);
  background: -webkit-gradient(linear, left top, left bottom, from(#11CDD4), to(#11999E));
  background: -moz-linear-gradient(top,  #11CDD4,  #11999E);
}
.btn:hover {
  color: #14396A !important;
  background: #30E3CB;
  background: linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -ms-linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -webkit-gradient(linear, left top, left bottom, from(#30E3CB), to(#2BC4AD));
  background: -moz-linear-gradient(top,  #30E3CB,  #2BC4AD);
}
